body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container {
	margin-top: 5% !important;
	max-width: 1024px;
	margin: 0 auto;
}

.mainContent {
	margin-left: 200px;
	text-align: center;
	width: calc(100% - 199px);
	background-color: #fafbfc;
	border: 1px solid #e1e4e8;
	border-radius: 6px;
	height: auto;
}

