.resume {
	display: inline-block;
	margin-right: 200px;
	text-align: center;
	width: 100%;
	height: 100%; 
	padding-top: 15px;
	height: 100%;
}

.info {
	margin: 20px;
	display: grid;
}

.name {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

.name p {
	text-align: left;
	font-size: 18px;
}

.contact_details {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	font-size: 14px;
}

.contact_details p {
	clear: both;
	text-align: right;
}

.divider {
	float: left;
	width: 95%;
	height: 10px;
	margin-left: 2.5%;
	margin-right: 2.5%;
	border-top: 1px solid black;
}

.section_name {
	float: left;
	height: 20px;
	width: 100%x;
	text-align: left;
	margin-left: 20px;
	font-size: 18px;
	font-weight: bold;
}

.experience {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 15px;
	margin-bottom: 10px;
	text-align: left;
	float: left;
	display: block;
	border-left: 3px solid #e1e4e8;
	border-radius: 6px;
	padding: 5px;
}

.wrapper-top {
	float: left;
	width: 3%;
	margin-left: -5px;
	margin-top: -5px;
	border-top: 2px solid #e1e4e8;
	border-radius: 10px;

}

.wrapper-bottom {
	height: 5px;
	position: relative;
	float: left;
	width: 3%;
	margin-left: -5px;
	margin-bottom: -5px;
	border-bottom: 2px solid #e1e4e8;
	border-radius: 10px;
}

.experience p {
	margin-top: 5px;
	margin-bottom: 5px;
}

.role {
	float: left;
}

.duration {
	text-align: right;
	float: right;
}

.description {
	float: left;
	width: 100%;
	font-size: 15px;
}

.technologies {
	float: left;
	width: 100%;
	font-size: 15px;
}
