.sidebar {
	float: left;
	width: 200px;
	margin-top: 15px;
}
.avatar {
	display: flex;
	justify-content: center;
	align-items: center;
}
.avatar > img {
	width: 180px;
	 height: 240px;
	border-radius: 10px;
	padding: 5px;
}

.menuItem {
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px;
	text-decoration: none;
}

.linkIconContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.linkIcon {
	float: left;
	padding: 5px;
}

.linkIcon > a > img {
	height: 35px;
	width: 35px;
}